.header-excel
    display: flex
    padding: 4px 8px


    &__title
        padding: 2px 4px
        font-size: 20px


    &__wrapper
        margin-left: auto
        display: flex
        align-items: center


    &__button
        background: transparent
        border: none
        display: flex
        align-items: center
        cursor: pointer
        margin-right: 4px


    &__button:hover
        color: #3f3e3ec4
        transition: .3s


    &__link
        color: black
        display: flex
        align-items: center
        text-decoration: none
        transition: .3s


    &__link:hover
        color: #3f3e3ec4
        transition: .3s
