.header-excel
    display: flex
    padding: 4px 8px


    &__title
        padding: 2px 4px
        font-size: 20px
        border: 1px solid transparent
        transition: .3s


    &__title:hover
        border: 1px solid #000
        transition: .3s


    &__wrapper
        margin-left: auto
        display: flex
        align-items: center


    &__button
        background: transparent
        border: none
        display: flex
        align-items: center
        cursor: pointer
        margin-right: 4px
        transition: .3s


    &__button:hover
        background: #dfdfdfc4
        transition: .3s


    &__button:active
        color: red


    &__link
        color: black
        display: flex
        align-items: center
        text-decoration: none
        transition: .3s


    &__link:hover
        background: #dfdfdfc4
        transition: .3s


    &__link:active
        color: red
