.row-info
    display: flex


    &__cell
        min-width: 130px
        font-size: 16px
        display: flex
        justify-content: center
        padding: 4px 0
        border: 1px solid $color-background-4
        background-color: $color-background-2
        margin-left: -1px
        font-weight: 300

    &__cell--empty
        max-width: 64px
        min-width: 64px

.table-excel__row-content
    margin-top: -1px

.table-excel__row-info
    margin-top: -1px

.row-content
    display: flex


    &__cell
        min-width: 130px
        font-size: 16px
        display: flex
        justify-content: center
        padding: 4px 0
        border: 1px solid $color-background-6
        margin-left: -1px

        
    &__cell--number
        background-color: $color-background-2
        border: 1px solid $color-background-4
        max-width: 64px
        min-width: 64px
        font-weight: 300







